*{
    box-sizing: border-box;
   /* border: 1px solid red;  */
}
@font-face {
    font-family:'cereal' ;
    src: url('Asset/fonts/Graphik-Regular-Web.woff2') format("truetype");
}
@font-face {
    font-family: 'cereal-medium';
    src: url('Asset/fonts/Graphik-Medium-Web.woff2') format("truetype"); 
}
@font-face {
    font-family: "cereal-light";
    src: url('Asset/fonts/Guardian-EgypTT-Light.woff2') format('truetype');
}

body{
    margin: 0;
}
.etsyheadertwo{
    display: none;
}
.etsy_headerone{
    padding: 0 12px;
}
.etsy_headlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}
.signin{
    display: flex;
}
.etsy_headlogo p{
    margin: 0;
    padding: 17px 15px;
    font-family: "cereal-medium";
    font-size: 13px;
}
.basket_heart{
    padding: 12px;
    margin-left: -2px;
    margin-right: -2px;
}
.etsy_headsearch{
    display: flex;
    /*border-bottom: 1px solid rgba(34,34,34,.15)*/
}
.etsy_hamburger{
    margin: 0 0 12px -12px;
}
.search_mirror{
    width: 100%;  
}
.nav_headerli{
    cursor: pointer;
}
.search_mirror input{
    position: relative;
    background: rgba(34,34,34,.07);
    border-radius: 96px;
    border: 2px solid #222;
    padding: 13px 80px 12px 18px;
    margin-bottom: 12px;
    width: 100%;
    font-size: 16px;
}
.search_mirror img{
    position: absolute;
    top: 61px;
    right: 28px;
}
.discover_items{

    margin-bottom: 42px;
}
.discover_items h2{
    padding: 18px 12px 0;
    color: #222222;
    font-size: 20px;
    font-family: "cereal-light";
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin: 0;
    background-color: #d7e6f5;
}
.subcomponents{
    margin-top: -234px;
}
.subcomponents ul{
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6px 6px 0 6px;
    align-items: center;
   
}
.subcomponents li{
    font-size: 13px;
    font-family: "cereal-medium";
    color: #222222;
    padding: 6px;
    align-items: center;
    text-align: center;
}
.subcomponents li img{
    border-radius: 50%;
    border: 1px solid rgba(34,34,34,.15);
    width: 100%;
    height: 100%;
    max-width: 96px;
    margin-top: 12px;
    margin-bottom: 6px;
    
}
.discover_background{
    height: 226px;
    background-color: #d7e6f5 ;
}




.discover_li:hover{
    cursor: pointer;
    color: #717171;

}





.container_deals{
    /* padding: 0 12px; */
    padding: 0 9px;
}
.deals_oftheday{
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.deals_oftheday h2{
    margin: 0;
    color: #222222;
    font-family: "cereal";
    font-size: 22px;
}
.shop_deals img{
   width: 12px;
   height: 24px;
}
.shop_deals{
    display: flex;
    align-items: center;
}
.shop_deals a{
    text-decoration: none;
    color: #222222;
    font-weight: 400;
}
.dealscomponent ul{
   padding: 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   
  
}
.dealscomponent ul li{
    list-style-type: none;
    /* border: 1px solid rgba(34,34,34,.15);
    border-radius: 12px; */
    padding: 6px;
    /* width: 98%;
    height: 50%; */
   
}



.dealscomponent ul li:hover{
    cursor: pointer;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}



.deals_subcomponent{
    padding: 0;
    margin: 0;
   
}
.deals_div h3{
    margin: 0;
    padding-top: 6px;
    margin-bottom: 6px;
    font-family: "cereal";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    
}
.dealscomponent span{
    font-family: "cereal";
    font-size: 13px;
}
.dealscomponent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.deals_maindiv{
    border: 1px solid rgba(34,34,34,.15);
    border-radius: 12px;
}
.deals_div{
    padding: 12px;
}
.gifts_heading{
    padding-bottom: 18px;
}
.gifts_heading h2{
    text-align: center;
    font-family: "cereal";
    font-size: 18px;
}
.container_gifts{
    padding: 0 12px;
}
.container_gifts img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

@media screen and (min-width: 375px) {
    .subcomponents li span{
        font-size: 13px;
        margin: 0 4px 6px;
    }
    .subcomponents{
        margin-top: -247px;
    }
    .discover_background{
        height: 226px;
        background-color: #d7e6f5 ;
    }
    .deals_oftheday{
        padding: 0 6px;
    }
    .container_deals{
        padding: 0 6px;
    }
}
@media screen and (min-width: 768px) {
    .subcomponents ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .subcomponents li img{
        max-width: 84px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .subcomponents li span{
        font-size: 13px;
        /* margin: 0 0 6px;*/
        text-align: center; 
        display: inline-block;
    }
    .discover_items h2
    {
        font-size: 26px;
    }
    .subcomponents{
        margin-top: -92px;
    }
    .discover_background{
        height: 90px;
        background-color: #d7e6f5 ;
    }
    .container_deals{
        padding: 0 30px;
    }
    .deals_oftheday{
        margin: 0 0 12px;
    }
    .deals_oftheday h2{
        font-size: 28px;
    }
    .deals_oftheday a{
        font-size: 15px;
        color: #222222;
        font-weight: 600;
        font-family: "cereal";
    }
    .dealscomponent ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        gap: 21px;
    }
    .dealscomponent ul li{
         border: 1px solid rgba(34,34,34,.15);
         border-radius: 12px; 
         padding: 0;
    }
    .deals_maindiv{
        border: 0px;
    }


}

@media screen and (min-width: 1024px) {
    .etsy_headerone{
        display: none;
    }
    .etsyheadertwo{
        display: inline;
    }
    .etsy_headertwo{
        padding: 12px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_etsy{
        width: 90px;
        height: 40px;
        padding-right: 6px;
    }
    .searchmirror_two{
        width: 100%;
    }
    .searchmirror_two input{
        background: rgba(34,34,34,.07);
        border-radius: 96px;
        border: 2px solid #222;
        width: 95%;
        padding: 15px 42px 15px 18px;
        position: relative;
        font-size: 16px;
    }
    .searchmirror_two img{
        position: absolute;
        top: 26px;
        right: 242px;

    padding-right: 10px;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 12px;
    }
    .signin{
        white-space: nowrap;
    }
    .signin p{
        margin: 0;
        padding: 15px 15px;
        color: #222222;
        font-size: 13px;
        font-family: "cereal-medium";
    }
    .basket_heart{
        padding: 12px;
        margin-left: -2px;
        margin-right: -2px;
    }
    .nav_header{
        padding-left: 36px;
        padding-right: 36px;
    }
    .nav_header_links{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-left: 0;
    }
    .nav_header_links li{
        list-style-type: none;
        font-size: 13px;
        font-family: "cereal";
        color: #222;
        line-height: 18px;
        margin: 4px 12px 0 0;
        padding: 0 0 12px ;
    }
    .gift{
       display: flex; 
       align-items: center;
    }
    .gift img{
        width: 16px;
        height: 12px;
    }
    .nav_header_links :last-child{
        display: flex; 
        align-items: center;
    }
    .discover_items h2
    {
        font-size: 32px;
    }
    .subcomponents li img{
        max-width: 114px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .container_deals{
        padding: 0 36px;
        margin: 0 0 60px;
    }
    .dealscomponent ul{
        display: flex;
      
    }
}

@media screen and (min-width: 1440px) {
    
    .searchmirror_two img{   
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 12px;
    }
    .searchmirror_two input{
        width: 97%;
        font-size: 16px;
        font-family: "cereal-medium";
        font-weight: 100;
        color: #222;
    }
    .etsy_headertwo{
        margin: 0 20px;
    }
    .subcomponents{
        padding: 0 176px;
    }
    .subcomponents ul{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .subcomponents li{
        padding: 9px 30px;
    }
    .subcomponents li span{
        font-size: 16px;
        /* margin: 0 0 6px;*/
        text-align: center; 
        display: inline-block;
    }
    .container_deals{
        padding: 0 36px;
        margin: 0 auto;
    }
   
}