*{
    box-sizing: border-box;
   /* border: 1px solid red;  */
}
@font-face {
    font-family:'cereal' ;
    src: url('Asset/fonts/Graphik-Regular-Web.woff2') format("truetype");
}
@font-face {
    font-family: 'cereal-medium';
    src: url('Asset/fonts/Graphik-Medium-Web.woff2') format("truetype"); 
}
@font-face {
    font-family: "cereal-light";
    src: url('Asset/fonts/Guardian-EgypTT-Light.woff2') format('truetype');
}

body{
    margin: 0;
}
.etsy_headertwo{
    display: none;
}
.etsy_headerone{
    padding: 0 12px;
}

.etsy_headlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}
.signin{
    display: flex;
}
.etsy_headlogo p{
    margin: 0;
    padding: 17px 15px;
    font-family: "cereal-medium";
    font-size: 13px;
}
.basket_heart{
    padding: 12px;
    margin-left: -2px;
    margin-right: -2px;
}
.etsy_headsearch{
    display: flex;
    /*border-bottom: 1px solid rgba(34,34,34,.15)*/
}
.etsy_hamburger{
    margin: 0 0 12px -12px;
}
.search_mirror{
    width: 100%;  
}
.search_mirror input{
    position: relative;
    background: rgba(34,34,34,.07);
    border-radius: 96px;
    border: 2px solid #222;
    padding: 13px 80px 13px 18px;
    margin-bottom: 12px;
    width: 100%;
}
.search_mirror img{
    position: absolute;
    top: 61px;
    right: 28px;
}

@media screen and (min-width: 1024px) {
    .etsy_headerone{
        display: none;
    }
    .etsy_headertwo{
        padding: 12px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_etsy{
        width: 90px;
        height: 40px;
        padding-right: 6px;
    }
    .searchmirror_two{
        width: 100%;
        padding-right: 82px;

    }
    .searchmirror_two form{
       
    }
    .searchmirror_two input{
        background: rgba(34,34,34,.07);
        border-radius: 96px;
        border: 2px solid #222;
        width: 100%;
        padding: 15px 42px 15px 18px;
        position: relative;
    }
    .searchmirror_two img{
        position: absolute;
        top: 28px;
        right: 249px;
    }
    .signin p{
        margin: 0;
       
        font-size: 13px;
        font-family: "cereal";
        color: #222222;
    }
    .basket_heart{
        padding: 12px;
        margin-left: -2px;
        margin-right: -2px;
    }

}