*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headtwo{
    display: none;
}
.headthree{
    display: none;
}
.back-img{
    display: none;
}
.headone{
    padding: 12px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
}
.icon{
    width: 32px;
    height: 32px;
    margin-top: -1px;
}
.hamburger img{
    height: 44px;
    width: 33px;
    fill: rgb(26,26,31);
    padding: 1px 6px;
}
.hamb_az{
    min-width: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.az_name{
    font-size: 18px;
    font-family: 'cereal';
    height: 32px;
    /*padding: 0px 10px;*/
    padding: 3px 10px 7px 15px;
    
}
.signin{
    font-family: 'cereal-bold';
    padding: 17px 20px 20px 20px;
    color: #1A1A1F;
    font-size: 14px;
}
.search{
    padding: 8px 13px 4px 1px;
    /*padding: 1px 6px;*/
    opacity: 0.6;
}
.search-sign{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 130px;
}

@font-face {
    font-family:'cereal' ;
    src: url('Asset/fonts/latest.woff2') format("truetype");
}
@font-face {
    font-family: 'cereal-bold';
    src: url('Asset/fonts/latest\ \(1\).woff2') format("truetype"); 
}
@font-face {
    font-family: "cereal-medium";
    src: url('Asset/fonts/MWFFluentIcons.woff2') format('truetype');
}

/*end of header*/

#mainone{
    padding: 48px 0px;
    background-color: #f3f3f3;
    margin-top: -4px;
}
#mainone{
    padding: 0px 12px;
}
.mainone-two{
    padding: 48px 0px;
}
#mainone h1{
    color: #0078d4;
    font-size: 16px;
    font-family: "cereal";
    margin: 0px 0px 11px;
}
#mainone h2{
    font-size: 29px;
}

.mainonediv h1{
    font-family: "cereal-bold";
    line-height: 1.5;
    font-weight: 400;
   
}
.mainonediv h2{
    margin: 0 0 14px;
    font-family: "cereal";
    
}
.mainonediv p{
    font-family: "cereal-bold";
    line-height: 1.54;
    margin: 0 0 17px;
}
.main-buttons .started{
   padding: 10px 13px;
    margin: 8px 24px 8px 0px;
    background: #0078d4;
    color: white;
    font-size: 15px;
    border: 0 solid transparent;
    border-radius: 2.5px;
    font-weight: bold;
    font-family: "cereal";
}
.main-buttons .azure_free{
   /* padding: 10px 12px; */
   padding: 9px 12px;
    margin: 8px 4px;
    font-size: 15px;
    background: #efefef;
    border: 2px solid black;
    border-radius: 2.5px;
    font-weight: bold;
    font-family: "cereal";
}
.main-buttons{
    margin: -7px 0;
    cursor: pointer;
    display: flex;
    padding-inline-start: 1px;

}
.content-one{
    margin: 24px 0 16px;
    padding: 8px 0 16px;
}
.content-one h2{
    margin: 0 0 8px;
    padding: 0 12px;
    font-family: "cereal";
    font-size: 19px;
    line-height: 1.2;
}
.layout-container{
    margin: 0 0 24px;
    /*padding: 0 12px;*/
    box-sizing: border-box;
    border-radius: 0.5px;
    margin-inline: 12px;
    margin-inline: 12px;
    border-radius: 0.5rem;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}
.migrate img{
    height: 100%;
    width: 100%;
}
.leader a{
    font-size: 17px;
    color: #0067b8;
    font-family: "cereal";
}
.leader{
    padding: 24px 0 0;
    margin: 0 0 8px;
}
.migrate-one{
    padding: 0 24px;
    height: 195px;
}
.postgresql{
    font-family: "cereal-bold";
    line-height: 1.5;
    font-size: 16px;
}
.cards-two{
    padding: 24px;
}
.cards-two img{
    width: 85px;
    height: 85px;
    margin-left: -7px;
    
}
.cardstwo-link{
    padding: 20px;
}
.cards-three img{
    width: 85px;
    height: 85px;
}
.cards-two{
    display: flex;
    margin: 0 12px;
    height: 379.97px;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.13),0 0 .0625rem 0 rgba(0,0,0,.11)!important;
}
.cardstwo-link a{
    margin: 0 0 8px;
    font-family: "cereal";
    color: #0067b8;
    font-size: 18px;
}
.cardstwo-link p{
    font-family: "cereal-bold";
  line-height: 1.5;
}
.cards-three{
    display: flex;
    margin: 0 12px;
    margin-top: 24px;
    height: 288px;
}

.cards-three{
    display: flex;
    margin: 0 12px;
    height: 264px;
    align-items: center;
    margin-top: 23px;

    border-radius: 0.5rem;
    box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),0 .0625rem .25rem 0 rgba(0,0,0,.11);
}
.cards-three img{
    height: 85px;
    width: 85px;
    margin-left: 8px;
}

.cardsthree-link a{
    font-family: "cereal";
    color: #0067b8;
    font-size: 17px;
}
.cardsthree-link{
    padding: 24px;
    font-family: "cereal-bold";
    line-height: 1.5;
}
.new_az{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 16px 24px;
}
.new_az p{
    font-size: 16px;
    font-family: "cereal-bold";
}
.new_az a{
    padding: 10px 12px;
    color: #0078D4;
    
}
.new_az button{
    padding: 8px 14px;
    color: #0078D4;
    background-color: #fff;
    border: 2px solid #0078D4;
    font-size: 15px;
    font-family: "cereal";
    font-weight: bold;

}
.azure_prod p{
    padding: 24px 0;
}
.azure_prod{
    font-size: 19px;
    font-family: "cereal";
    padding: 0 12px;
    margin: 0 0 8px;
}
.tab-links{
    padding: 0 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    white-space: nowrap;
    border-bottom: 0.0625rem solid #747479;
}
    ::-webkit-scrollbar{
        display: none;
    }

.tab-links a{
    padding: 8px 24px;
    color: #505050;
    text-decoration: none;
    font-size: 16px;  
    cursor: pointer;
    font-family: "cereal";
    font-weight: bold;
}
.tab-links a:hover{
    border: 1px dashed #0078D4;
    color: #0078D4;
    border-bottom: 4px solid #0078D4;
}
.tab-button{
    position: absolute;
    z-index: 2;
    display: none;
}
.cards-settwo{
   /*padding: 0 12px;*/
   padding: 0 24px;
   margin-top: 3rem;
   overflow: scroll;
   
}
.cards-settwo img{
    width: 35px;
    height: 35px;
}
.cards-settwo p{
    padding: 24px 24px 0;
}
.cardz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    margin: 0 0 48px;
    border-radius: 0.5rem;
    box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),0 .0625rem .25rem 0 rgba(0,0,0,.11);
}
.cardz p{
    line-height: 1.6;
    font-family: "cereal-bold";
    text-align: center;
}
.cardz a{
    font-weight: 600;
    font-family: "cereal";
    color: #0067b8;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 12px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.products{
    padding: 24px 12px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 16px;
    color: #0067b8;
    font-family: "cereal";
}
.innovating-azure{
    padding: 24px 0;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "cereal";
    font-weight: bold;
    font-size: 19px;
    line-height: 1.2;
   
}





/*
.cards-onpremise{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.cards-Azurestack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.cards-Azuresentinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.cards-Azuresecuritycenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.cards-Azureexpressroute{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.cards-Azureactivedirectory{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}



*/



/*media query*/
@media screen and (min-width: 768px){
    .headone{
        display:none;
    }
    .back-img{
        display: none;
    }
.headtwo{
display: flex; 
justify-content: space-between;
}
.headtwoone{
    display: flex;
    padding: 0px 12px;
    margin-right: auto;
    margin: 0px 24px 0px 0px;
}
.headtwo .icon-az{
    display: flex;
}
.dropdown{
    list-style-type:none;
    display: flex;
}
.dropdownone{
    display: flex;
}
.dots img{
    width: 54px;
    height: 24px;
}
.dots{
    /*padding :9px 8px */
    padding: 9px 1px;
    padding-bottom: 5px;
    margin-right: -9px;
}
.headtwo .signin{
    padding: 20px 8px;
}
.dropdown li {
    padding: 20px 8px;
    display: flex;
    font-family: "cereal-bold";
    font-size: 13px;
    color: #1A1A1F;
}
.dropdown i{
    padding-top: 6px;
    margin: 0px 0px 0px 4px;
    font-size: 9px;
}
.icon{
   /* width: 32px;
    height: 32px;
    /*margin-top: -1px; */
    margin-top: 7px;
    width: 24px;
    height: 23px;
}
.search{
    /*padding: 1px 8px;*/
    padding: 9px 0px 1px 1px;
    font-size: 12px;
}
.search-sign{
    padding-left: 46px;
}
.search i{
    height: 19px;
    width: 15px;
    font-size: 8px 8px;
}
.headtwo .az_name{
    margin-left: 12px;
    padding: 15px 8px 1px 1px;
    font-size: 18px;
    color: #1A1A1F;
    
}
.headtwo .icon svg{
    height: 23px;
    margin-top: 9px;
}  
.headthree{
    display: none;
}
.migrate-one{
    padding: 24px 0;
}
/*.migrate{
    margin-top: 17px;
}*/
.migrate-one{
    padding: 0 24px;
    height: 110px;
}
.cards{
    margin-inline-start: 8px;
    margin-inline-end: 8px;
}
.cards-two{
    height: 147px;
}
.cardstwo-link a{
    margin-bottom: 0.5rem;
}
.cards-two img{
    width: 85px;
    height: 85px;
}

.cardstwo-link{
    padding: 24px;
}
.cardstwo-link p{
    margin-top: 0.5rem;
}
.cards-three{
    height: 147px;
    padding: 24px;
}
.cardsthree-link p{
    margin-top: 0.5rem;
}
.tab-overflow .featured{
    color: #0067b8;
    border-bottom: 3px solid #0067b8;
}
.cards-three img{
    margin-left: -3px;
}
.cardz{
    margin-top: 1px;
}

}



@media screen and (min-width: 860px) {
    
    .headtwo{
        background-image: url();
    }
    .content-one h2{
        text-align: center;
    }
    .mainone-two{
        padding: 48px;
    }
   /* .back-img img{
        display: inline;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
    } */
    .cards{
        display: flex;
    }
    .layout-container{
        margin: 0  0 1px;
        margin-inline-start: 12px;
        margin-inline-end: 10px;
    }
    .migrate{
        height: 100%;
    }
    .migrate-one{
        padding: 0 24px;
        margin-top: -126px;
    }
    .migrate img{
        object-fit: cover;
        height: 100%;
        border-radius: 0.5rem;
    }
    .cards{
        margin-inline: 2px;
    }
    .cards-two{
        
        height: 219px;
    }
    .cards-three{
       height: 195px;
    }
    .cards-two p{
        line-height: 1.2;

    }
    .cards-two a{
        line-height: 1.1;
    }
    .cards-three p{
        line-height: 1.2;
    }
    .cards-three a{
        font-size: 17px;
    }

    .azure_prod{
        margin: 0 0 8px;
        padding: 24px 0;
        padding: 0 12px;
    }
    .tab-links{
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        border-bottom: none;
    }

  
    .container-two{
        padding-left: 0.75rem;
        padding-right: 0.75rem;display: flex;

      
    }
    .cards-settwo{
        display: grid;
        grid-template-columns: repeat(3,3fr);
        
        /*white-space: nowrap;*/
        overflow: hidden;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        column-gap: 20px;
        
       
    }
    .cardz{
        align-items: center;
        margin-top: 1px;
        padding: 0 12px;
        padding-top: 1.5rem;
        box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),0 .0625rem .25rem 0 rgba(0,0,0,.11);
    }
    .tab-links{
        margin-top: 6rem;
    }
    .tab-links .featured{
        border-bottom: none;
        border-left: 3px solid #0067b8;
    }
    .tab-links a{
        margin: 0 0 16px;
        cursor: pointer;
    }
    .tab-links a:hover{
        color: #0067b8;
        border-bottom: none;
        
        border: 2px dashed #0067b8;
        border-left: 4px solid #0067b8;
    }
    .cardz p{
        line-height: 1.4;
    }
    .cardz a{
        padding-bottom: 0rem;
    }
    .tab-overflow{
        margin-top: 6rem;
    }
    .products{
        text-align: center;
    }
    
   

}
@media  screen and (min-width: 1080px) {
     .headtwo{
        display: none;
     }
    .headthree{
        display: flex;
        justify-content: space-between;
    }
    .headthreeone{
        display: flex;
        padding: 0px 12px;
    }
    .headthreeone .search-button .forms{
        position: relative;
    }
    .headthreelist{
        padding: 8px;
        font-size: 13px;
    }
    .headthreelist ul{
        display: flex;
        list-style-type: none;
        align-items: center;
    }
   .headthreelist li{
    padding: 4px;
    font-family: "cereal-bold";
   }
    .headthreelist .sign{
        padding: 8px;
        font-size: 13px;
    }
    .search-button input{
        width: 120px;
        height: 32px;
        border-radius: 6px;
        background-color: #F8F9FA;
        padding: 1px 24px 1px 12px;
        border: 1px solid #747479;
    }
    .az_name{
        padding: 4px 10px 7px 0px;
        margin: 0 0 6px 24px;
    }
    .headthreelist button{
        margin: 0px 6px;
        padding: 9px;
        background-color: #89c402;
        width: 63px;
        height: 44px;
        border: 1px solid #6f9e02;
        border-radius: 4px;
        font-size: 12px;
    }
    .dropdown{
        padding: 4px;
    }

    .headthreeone .icon{
        margin-top: -13px;
        
    }
    .headthreeone .icon svg{
        margin-block-start: 3px;
    }
    .headthreeone az_name{
        margin: 0 0 0 10px;
        margin-top: -12px;
        padding: 3px 10px 7px 15px;
    }
    .icon-az{
        display: flex;
        align-items: center;
    }
    .search-button{
        display: flex;
        margin-top: 17px;
    }

    .search-button i{
        position: absolute;
        margin-top: 8px;
        margin-left: 87px;
    }
    .search-one{
        display: flex;
    }


    #mainone{
        margin: 0;
        padding: 54px;
        background-image: url(Asset/img/Desktop\ hero.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        height: fit-content;
        background-size: cover;  
        width: 100%;
        height: 100%;
        padding-bottom: 42px;
    }
    .mainone-two{
        padding: 48px 48px;
    }
    .mainonediv p{
        -webkit-text-size-adjust: 100%;
        width: 473px;
        padding-top: 0px;
    }
    #mainone h1{
        margin-top: -9px;
    }
    #mainone h2{
        margin: 0 0 20px;
        margin-top: 3px;
        font-size: 37px;
        padding-top: 3px;
    }
    .content-one h2{
        font-size: 21px;
    }
   .new_az{
    padding: 16px 24px;
   }
   .cards-onpremise{
    justify-content: space-between;
    align-items: center;
   }
.tab-overflow{
    margin-top: 1rem;
}
.cardz{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.tab-links .featured {
    color: #0078D4;
    border-left: 4px solid #0078D4;
}
.products{
    text-align: center;
    color: #0067b8;
}
.innovating-azure{
    text-align: center;
}
}
 

















































   





