*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.partners_logo img{
    max-width: 100%;
    height: auto;
}

.partners_div{
    padding: 56px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8FBFE;
    border: 1px solid rgba(153, 153, 153, 0.25);
    border-left: 0px;
    border-right: 0px;
    gap: 48px;
    padding-left: 0px;
     /* overflow: scroll; */
    width: 100%;
  
}

.partners_div h3{
    font-size: 24px;
    color: #0A0A19;
    line-height: 28.13px;
    
    text-align: center;
  
}
.partners_logo{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    cursor: pointer;   
}
::-webkit-scrollbar{
    display: none;
}
.partners_logo img{
   padding-bottom: 0px;
   padding-left: 16px;
   padding-right: 16px;
   opacity: 0.7;  
}
.partners_button{
    display: none;
}

@media screen and (min-width:744px){
.partners_div{
    padding: 72px 0px;
    gap: 40px;
}
.partners_button{
     display: flex;
     border: 1px solid #E5E5E5;
     background: #ffff;
     padding: 12px 30px;
     border-radius: 8px;
     color: #1f2a37;
     cursor: pointer;
     font-size: 16px;
}
.partners_button button{
    background-color: #fff;
    border: none;
}
.partners_logo{
 /* gap: 96px; */
 overflow: scroll;
 gap: 40px;
  
}
}

@media screen and (min-width:1024px){
.partners_div{
    /*padding: 72px 80px;*/
    padding: 72px 0;
    gap: 64px;
} 
.partners_logo{
    gap: 10px;
     
   }
}
@media screen and (min-width:1280px){
.partners_div{
    padding: 48px 80px;
    gap: 64px;
}
.partners_logo{
    gap: 10px;
    overflow: hidden;
}
}

@media screen and (min-width:1440px) {
.partners_div{
    padding: 48px 0;
}
.partners_button{
  padding: 12px 24px;
  font-size: 16px;
}
.partners_logo{
    gap: 64px;
    overflow: hidden;
} 
}