*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px 30px;
    min-height: 979px;
}
.lang{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.banner{
        width:100%;
        text-align: right;
        position: relative;
        display: flex;
        justify-content: flex-end;
}
.email{
    padding: 0px 10px;
    margin: 0px 10px;
}
.second{
    top: 32px;
}
.main-table{
    padding: 1px 69px 30px 25px;
    display: flex;
    justify-content: center;
    margin-top: 163px;   
}
.main-table .gam{
    padding: 0 26px;
    cursor: pointer;
}
.main-table h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.8px;
    text-align: center;
}


.worlds h4{
    margin-left: 32px;
}
.worlds img{
    margin-left: 12px;
}


.endsec{
    margin-top: 541px;
    margin-left: 517px;
    list-style-type: none;
}

.endsec li {
   
    display: inline;
     margin: 0px 8px;
    
}
.endsec li a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-size: 12.8px;
    font-family: Arial, Helvetica, sans-serif;
}
.worlds{
    display: flex;
    align-items: flex-start;
    bottom: 82px;
    position: absolute;
    left: 545px;

}
.worlds h4{
    font-size: 12.8px;
}

.move{
     position: relative;
}
.move .imgp{
    padding-left: 389px;
}

.forms{
    position: relative;
    margin-top: -30px;
    height:34px;
    width:771px;
}
.search{
    display: flex;
    width: 784px;
    height: 35px;
    margin-left: 531px;

}
input{
    width: 720px;
    height: 34px;
    border: 2px solid #FFCC00;
    border-radius: 12PX;
}
.ims{
    position: absolute;
    left: 1209px;
    top: 17px;
}
.ims button{
    left: 1900px;
    border: 2px solid #FFCC00;
    background-color: #FFCC00;
    width: 68px;
    height: 34px;
 border-radius: 0 12px 12px 0;
}
/*
 .one .gam:hover{
    transform: translateY(-5px);
    transition-duration: .5s;

    color: red;
}*/

/*
.main-table .gam:nth-child():hover{
    transform: translateY(-5px);
    transition-duration: .5s;
}*/
.main-table h4:hover{
    color: red;
  
}

.gam img:nth-child(1):hover{
    transform: translateY(-5px);
    transition-duration: .5s;
}
