*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
@font-face {
    font-family:'cereal' ;
    src: url('Asset/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2') format("truetype");
}
@font-face {
    font-family: 'cereal-bold';
    src: url('Asset/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2') format("truetype"); 
}
@font-face {
    font-family: "cereal-medium";
    src: url('Asset/font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56\ \(1\).woff2') format('truetype');
}

.airbnb_headertwo{
    display: none;
}
.header_one{
    padding: 14px 11px 0 24px;
}
.headone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid rgba(0,0,0,0.08);
    border-radius: 1000px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0); 
}
.headone_header{
    display: flex;
    align-items: center;
}
.headone-img{
    padding: 0 16px 0 20px;
}
.headone-img img{
    width: 16px;
    height: 16px;
    transform: translateY(2px);
}
.headone-tab p{
    font-size: 14px;
    font-family: "cereal-medium";
    line-height: 18px;
    color: #222222;
    margin: 0;  
}
.headone-innertab{
    display: flex;
}
.headone-innertab p{
    font-size: 12px;
    font-family: "cereal";
    font-weight: 200;
    color: #717171;
    margin: 0;
}
.headone-tab{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 8px 2px;
}
.headone .logo{
    margin: 9px 10px 0 10px;
    width: 36px;
    height: 36px;
    border: 1px solid #dddddd;
    border-radius: 25px; 
}
.logo img{
    margin: 9px 0 0 9px;
}
.headone-innertab span{
    padding: 4px 5px 0 5px;
    color: #717171;
    font-size: 9px;
}






/*media query*/

@media screen and (min-width: 375px) {
    .airbnb_headertwo{
        display: none;
    }
    .headone{
        margin-right: 13px;
    }
}

@media screen and (min-width: 744px) {
    .airbnb_headertwo{
        display: block;
    }
    .airbnb-headerone{
        display: none;
    }
    .headertwo{
        margin: 0;
        background-color: #f7f7f7;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 6%);
        transform: translateY(-1px);
    }
    .header_price{
        padding: 0 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header_price span{
        margin: 0;
        padding: 23px 0 21px;
        font-family: "cereal-medium";
        font-size: 16px;
        font-weight: 200;
        color: #222222;
        transform: translateY(-1px);  
    }
    .airbnb_redlogo{
        padding-top: 9px;
    }
    .header_price a{
        padding: 8px;
        color: #222222;
        font-family: "cereal-medium";
    }
    .headertwo_subhead{
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        padding-top: 14px;
        padding-bottom: 15px;
        box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    }
    .headtwo-tab{
        display: flex;
        align-items: center;
        font-family: "cereal-medium";
        font-size: 14px;
        padding: 0 24px;
       
    }
    .airbnb_home_hamburger{
        display: flex;
        align-items: center;
        padding-left: 14px;
    }
    .airbnb_home{
        display: flex;
        align-items: center;
        font-family: "cereal-medium";
        transform: translate(-8px, 0);
    }
    .airbnb_home span{
        color: #222222;
        font-size: 14px;
    }
    .hamburger img{
        width: 16px;
        height: 16px;
    }
    .airbnb_hamburger{
        display: flex;
        align-items: center;
        padding: 5px 5px 0px 12px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 21px;
       
    }
    .airbnb_worldimage{
        padding: 12px;
        padding-top: 17px;
    }
    .profile img{
        width: 30px;
        height: 30px;
        margin-left: 12px;
    }
    .headtwo-tab img{
        width: 21px;
        height: 14px;

        /*width: 12px;
        height: 12px;
        padding: 0px;
        /*
        border-radius: 50%;
        background-color: #ff385c;
        z-index: 1;*/
        margin: 6px 5px 5px 3px;
    }
    .headtwo-tab{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #dddddd;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
       
        padding: 10px;
        padding-left: 5px;
    }
    .headtwo-tab p{
        margin: 0;
        padding: 0 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        color: #222222;    
    }
    .headtwo-tab .addguests {
        color: #717171;
       
    }
    .headtwo-tab span{
        flex: 0 0 1px;
        height: 24px;
        width: 1px;
        background-color: #dddddd;
    }
    .airbnb_home span{
       
    }
    .background_mirror{
      background-color: #ff385c;
         border-radius: 50%;
         padding: 1px;
    }
    .headtwo-tabs{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: -1px 21px;
    }

    
}