body{
    background: lightskyblue;
    text-align: center;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


/*transforms*/
img{

    transform: rotateZ(-90deg) translateY(200px) scale(2);

    /*transform: scale(1,0.1);*/
     /*transform: rotateZ(45deg);*/
    /*transform: rotateX(130deg);*/
    /*transform: translateY(20px);*/
  /* transform: translateX(200px);*/
       
}

.circle{
    text-align: center;
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: beige;
    border-radius: 50px;
    cursor: pointer;
    /*transition:background 1s,transform 1s 1s ease-in;
    transition:background 1s,transform 1s 1s ease-out;
    /*transition: 1s;*/
    transition: transform 1s 1s linear;
}

.circle:hover{
    background: palevioletred;
    transform: rotate(360deg);
}